@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono:wght@400;700&display=swap');

:root {
  --navbar: 5rem;
  --navbar-mobile: 2rem;
  --foreground: 220 3.7% 15.9%;
  font-family: 'Space Mono', monospace;
}

.navbar {
  @apply p-8 sticky top-0 z-10 transition-colors duration-300 flex justify-between items-center h-[var(--navbar-mobile)];
  @apply md:h-[var(--navbar)]
  
  
}
.nav-link {
	@apply text-xl text-gray-500;
	transition: text-shadow 0.2s ease;
}

.nav-link:hover {
	text-shadow: 1px 1px 0 rgb(255, 0, 0);
}

.nav-title {
	@apply text-3xl text-black font-bold;
}
.header {
	@apply min-h-screen w-full bg-black absolute top-0 left-0 right-0;
}
.header-inner {
	@apply pt-[var(--navbar)]
}

.speed-lines {
  background: repeating-linear-gradient(90deg,
      transparent,
      transparent 8px,
      hsl(var(--foreground) / 0.1) 8px,
      hsl(var(--foreground) / 0.1) 9px);
}

.halftone {
  background-image: radial-gradient(hsl(var(--foreground) / 0.15) 1px,
      transparent 1px);
  background-size: 4px 4px;
}

.title {  
  @apply shadowed-title;
  font-size: 3rem;
  @apply md:text-8xl;
}
.shadowed-title {
  text-shadow: 3px 3px 0 rgb(255, 0, 0);
}
.shadowed-subtitle {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 3px 3px 0 rgb(255, 0, 0);
}

.subtitle {
   @apply shadowed-subtitle;
    font-size: 1.5rem;
    @apply md:text-6xl;
}

.profile-pic {
  @apply m-auto md:m-0 w-full h-auto md:w-4/5 object-contain object-top self-end;  
  box-shadow: 2px 2px 0 1px rgb(255, 0, 0), -2px -2px 0 1px rgb(0, 0, 0);
  max-width: 100%;
  max-height: 100%;
}

h1, h2 {
  font-family: 'Bebas Neue', sans-serif;
}

